# List Comprehension Exercises

# Task 1: 
Using the list comprehension structure, capitalize the names of the numeric variables in the 'car_crashes' data and add 'NUM' to the beginning. 

Notes:
- Non-numeric variable names must be uppercase.
- Must be done with a single list comprehension structure.

In [1]:
# Libraries
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('car_crashes')

In [3]:
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [5]:
['NUM_' + col.upper() if df[col].dtype != 'O' else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

# Task 2: 
Using the list comprehension structure, write 'FLAG' at the end of the variables that do not contain 'no' in their names in the 'car_crashes' data. 

Notes:
- All variable names must be uppercase.
- Must be done with a single list comprehension structure.

In [6]:
[col.upper() + '_FLAG' if 'no' not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

# Task 3: 
Using the List Comprehension structure, select the names of the variables that are DIFFERENT from the variable names given below and create a new dataframe. 

og_list = ['abbrev', 'no_previous']

Note:
First, create a new list named new_cols using list comprehension according to the list above.
Then create a new df by selecting these variables with df[new_cols] and name it new_df.

In [7]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [8]:
og_list = ['abbrev', 'no_previous']

In [9]:
new_cols = [col for col in df if col not in og_list]
new_cols

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

In [10]:
new_df = df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63